.article {
  padding: 1rem 1.5rem;
  color: $border-letter;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  &__part {
    padding: 0.5rem 0;
    @media (min-width: $desktop-width) {
      max-width: 50rem;
      margin: 0 auto;
    }
  }
}